*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open san', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
}
header{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 60px;
    background-image: url(img/robert-piosik-m2q0VvAwLFA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header .banner {
    width: 80%;
    display: flex;
    flex-direction: row;
}
header .banner-heading {
    font-family: 'playfair display', sans-serif;
    font-size: 6rem;
    font-style: italic;
    padding: 0 2rem;    
}
.banner .banner-text{
    font-size: 0.9rem;
    font-weight: normal;
    background-color: white;
    padding: 30px;
    color: black;
}
.row-column{
    font-size: 20px;
    font-family: 'playfair display', sans-serif;
    font-style: italic;
    padding: 50px;
    padding-right: 30px ;
    flex-grow: 80px;
    background-color: #d9b1b3;
    color: white;
}
.row-column span{
    font-size: 100px;
}
.row-column h2{
    width: 950px;
}
.row-column p{
    width: 700px;
}
.thepics{
    background-color: black;
}
.thepics img{
    padding:0px;
    margin-right: 0px;
    height: 33%;
    width: 33%;
}
.form{
    background-color: #d9b1b3;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 40px;
}
.form-section form input{
    margin: 1px;
    padding: 10px;
    border: white 50px;
    border-radius: 20px;
}
.construction{
    margin-bottom: 30px;
}
.get-updates{
    background-color: black;
    color: white;
    font-size: 10px;
    width: 120px;
}
.author {
    padding: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: row; */
}
.author .author-picture img{
    height: 600px;
    width: auto;
    padding: 50px;
}
.author .author-note{
    padding-top: 100px;
    width: 700px;
    text-overflow: clip;
}
.spring-collection{
    padding: 30px;
    background-color: #d9b1b3;
}
.spring-collection .clothes {
    display: flex;
    flex-direction: row;
}
.spring-collection .clothes img{
    height: 500px;
    width: 25%;
}
.shoe-section{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.shoe-section .upshoe img{
    height: 400px;
    width: auto;
    padding: 30px;
}
.ending {
    display: flex;
    justify-content: center;
}
hr{
    text-align: center;
    
    color: #d9b1b3;
}
.picture img{
    height: 400px;
    width: auto;
}
.subscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}
.supform input{
    padding: 5px;
}